<div id="feeedsNav">
	<p id="FeeedsF"><a href="/">F</a></p>
	{{svg-jar "wavy-line"}}
	<ul>
		<a href="/reader-folders"><li>{{svg-jar "nav-people"}}</li></a>
		<a href=""><li class="active">{{svg-jar "nav-publications"}}</li></a>
		<a href="/reader-folders"><li>{{svg-jar "nav-music"}}</li></a>
		<a href="/reader-folders"><li>{{svg-jar "nav-products"}}</li></a>
		<a href=""><li>{{svg-jar "nav-star"}}</li></a>
		<a href=""><li>{{svg-jar "nav-tags"}}</li></a>
		<a href="/reader-folders"><li>{{svg-jar "nav-folders"}}</li></a>
		<a href="/reader-folders"><li>{{svg-jar "nav-rss"}}</li></a>
		<a href=""><li>{{svg-jar "nav-notifications"}}</li></a>
		<a href="/reader-search"><li>{{svg-jar "nav-search"}}</li></a>
		<a href="/account-home-loggedin"><li>{{svg-jar "nav-account"}}</li></a>
	</ul>
</div>