<div id="search">
	{{feeeds-nav}}

	<div id="searchWrapper">
		<div id="searchFields">
			<div>
				{{svg-jar "search-icon"}}
				<input type="text" placeholder="Search for Users or Feeds">
			</div>
			<div>
				{{svg-jar "add-icon"}}
				<input type="text" placeholder="Paste a URL">
			</div>
			<div>
				{{svg-jar "upload"}}
			</div>
		</div>

		{{search-nav}}
	</div>
</div>