<div id="styleGuide">
	{{feeeds-nav}}

	<div class="styleGuideOutline">
		<p>Style Guide</p>
		<ul>
			<li><a href="">Atoms</a></li>
			<ul>
				<li><a href="">Colors</a></li>
				<li><a href="">Fonts</a></li>
			</ul>
			<li><a href="">Molecules</a></li>
			<ul>
				<li><a href="">Colors</a></li>
				<li><a href="">Fonts</a></li>
			</ul>
			<li><a href="">Organisms</a></li>
			<ul>
				<li><a href="">Colors</a></li>
				<li><a href="">Fonts</a></li>
			</ul>
			<li><a href="">Templates</a></li>
			<ul>
				<li><a href="">Colors</a></li>
				<li><a href="">Fonts</a></li>
			</ul>
		</ul>
	</div>

	<div class="styleGuideBody">
		<section>
			<h1>Atoms</h1>
			<div class="sg-colors">
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
				<div class="color"></div>
			</div>
			<div class="sg-fonts">
				<p>Sans Serif Light: "Alegreya Sans", "Helvetica", "Arial", sans-serif;</p>
				<p>Sans Serif Regular: "Alegreya Sans", "Helvetica", "Arial", sans-serif;</p>
				<p>Sans Serif Medium: "Alegreya Sans", "Helvetica", "Arial", sans-serif;</p>
				<p>Sans Serif Bold: "Alegreya", "Helvetica", "Arial", sans-serif;</p>
				<p>Serif Regular: "Times New Roman", serif;</p>
				<p>Serif Italic: "Crimson Text", Georgia, Times, "Times New Roman", serif;</p>
				<p>Serif Bold: "Crimson Text", Georgia, Times, "Times New Roman", serif;</p>
				<p>Serif Bold Italic: "Crimson Text", Georgia, Times, "Times New Roman", serif;</p>
			</div>

			<div class="sg-icons">
				{{svg-jar "nav-people"}}
				{{svg-jar "nav-publications"}}
				{{svg-jar "nav-music"}}
				{{svg-jar "nav-products"}}
				{{svg-jar "nav-star"}}
				{{svg-jar "nav-tags"}}
				{{svg-jar "nav-folders"}}
				{{svg-jar "nav-rss"}}
				{{svg-jar "nav-notifications"}}
				{{svg-jar "nav-search"}}
				{{svg-jar "nav-account"}}
				{{svg-jar "settings-gear"}}
				{{svg-jar "upload"}}
				{{svg-jar "share-icon"}}
				{{svg-jar "carrot"}}
				{{svg-jar "add-icon"}}
				{{svg-jar "search-icon"}}
			</div>

			<div>
				<article>
					<h1>H1 First Heading</h1>
					<h2>H2 Second Heading</h2>
					<h3>H3 Third Heading</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</article>
			</div>

			<div class="sg-buttons">
				<button class="btn-gray btn-small">Follow</button>
				<button class="btn-gray btn-small active">Following</button>
				<button class="btn-red btn-small">Block</button>
				<button class="btn-red btn-small active">Blocked</button>
				<button class="btn-gray btn-small call-to-action">Organize feeds</button>
				<button class="btn-blue btn-small">Edit</button>
			</div>

			<div>
				<input class="text" placeholder="text input">
			</div>

			<div>
				<select>
					<option>Option One</option>
					<option>Option Two</option>
				</select>
			</div>

		</section>
		<section>
			<h1>Molecules</h1>

			<div class="formButtons">
				<button class="btn-red btn-small active">Cancel</button>
				<button class="btn-gray btn-small active">Save</button>
			</div>

		</section>
		<section>
			<h1>Organisms</h1>

			<div>
				<article class="closed">
					<div class="profileAvatar"></div>
					<p class="profileName">Joni Shelnutt</p>
					<h1>This is a closed article</h1>
					<p class="articlePostDate">August 25, 2016</p>
				</article>
			</div>

			<div>
				{{article-full}}
			</div>

			<div>
				{{account-new-feed-modal}}
			</div>

			<div class="feedCardsWrapper">
				<div class="feedCard">
					<div class="feedAvatar"></div>
					<p class="feedName">Blog</p>
					<p class="feedPostingFrequency">~5/week</p>
					<button class="btn-gray btn-small">Follow</button>
				</div>

				<div class="feedCard">
					<div class="feedAvatar"></div>
					<p class="feedName">Blog</p>
					<p class="feedPostingFrequency">~5/week</p>
					<button class="btn-gray btn-small">Follow</button>
					<div class="expansion">
						<p class="tags"><span class="label">TAGS:</span>writing, life, work, design, brooklyn, nyc, photography</p>
						<button class="btn-blue btn-small">Edit</button>
					</div>
				</div>
			</div>

		</section>
		<section>
			<h1>Templates</h1>

		</section>

	</div>


</div>